* {
  margin: 0px;
  padding: 0px;
  font-family: "__MSG_extensionMSFont__", "__MSG_extensionLinuxFont__", "__MSG_extensionOtherFont__";
  font-weight: normal;
}

body {
  margin: 20px;
  font-size: 16px;
  background-color: #eeeeee;
}

body.narrow {
  margin: 20px 10px;
  width: 340px;
}

body.compact {
  width: 500px;
}

div {
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  display: flex;
}

header {
  margin: 0px 5px;
  justify-content: space-between;
  align-items: flex-end;
  flex-flow: row nowrap;
  display: flex;
}

header div {
  flex-flow: row nowrap;
}

header img {
  margin-bottom: 8px;
}

.narrow header {
  align-items: flex-start;
  flex-flow: column nowrap;
}

header ol {
  margin-left: 20px;
}

.narrow header ol {
  margin: 0px;
  width: 330px;
  justify-content: flex-end;
  flex-flow: row nowrap;
  display: flex;
}

header li {
  position: relative;
  margin: 0px 0px 0px -5px;
  padding: 5px 10px;
  background-color: #737373;
  color: #aeaeae;
}

li {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  border-style: none;
  list-style-type: none;
  user-select: none;
  display: inline;
}

li:first-child {
  border-left-style: none;
}

header li.selected {
  border-left-style: none;
  background-color: #c8c8c8;
  color: #000000;
  z-index: 1;
}

header li.pointed {
  color: #ffcc33;
  z-index: 2;
}

button {
  border-radius: 5px;
  color: #616161;
  background-color: #f9f9f9;
}

button:focus {
  color: #000000;
  border-color: #ffcc33;
  background-color: #ffcc33;
}

button:disabled {
  border-color: #eaeaea;
  color: #c0c0c0;
  outline: none;
}

button.pointed {
  outline: 3px dotted #ffcc33;
}

h1 {
  margin: 0px 12px;
  font-family: "Times New Roman";
  color: #737373;
  text-shadow: 2px 2px 2px rgba(64, 64, 64, 0.5);
  text-decoration: underline;
}

h3 {
  margin: 0px 12px;
  font-size: 16px;
  font-weight: bold;
  color: #5a5a5a;
}

input {
  margin: 10px 8px;
}

hr {
  margin: 0px 5px;
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
}

.checked_option {
  margin: 2px 0px;
  align-items: center;
  flex-flow: row nowrap;
}

.checked_option input.pointed {
  outline: 3px dotted #ff9900;
}

.checked_option label {
  margin-top: -1px;
}

#OptionUpdate {
  margin: 15px 20px;
  display: block;
}

.narrow #OptionUpdate {
  margin: 15px 10px;
}

.edit #OptionUpdate {
  display: none;
}

#OptionUpdate p {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #ff0000;
}

#OptionUpdate p.grayed_out {
  color: #c0c0c0;
}

#OptionUpdate div {
  margin: 5px;
}

#OptionUpdate button {
  margin: 0px 1px;
  padding: 3px 0px;
  width: 96px;
  border-width: 3px;
  font-size: 13px;
}

section {
  margin: 30px 0px 20px 0px;
  padding: 0px 5px;
  display: none;
}

.edit section {
  margin: 20px 0px;
}

.general #GeneralPane {
  display: block;
}

.filtering #FilteringPane {
  display: block;
}

.selection #SelectionPane,
.edit #SelectionPane {
  display: block;
}

#GeneralPane > div {
  margin: 15px 0px;
  padding: 20px;
  flex-flow: column nowrap;
}

#GeneralPane h3 {
  margin: 0px 5px 10px 5px;
}

#GeneralPane input {
  margin: 10px;
}

#GeneralPane .checked_option {
  width: 210px;
  font-size: 14px;
  letter-spacing: 1px;
}

#Advanced > div {
  width: 280px;
}

#Advanced .checked_option {
  width: 100%;
}

select {
  margin: 10px;
  padding: 1px 5px;
  border-radius: 5px;
  font-size: 14px;
}

#FilteringCategory {
  margin: 15px 0px;
  padding: 0px 20px;
  width: 450px;
  align-items: flex-start;
}

.narrow #FilteringCategory {
  padding: 0px 10px;
  width: auto;
}

#FilteringCategory label {
  margin: 13px 8px;
  min-width: 128px;
}

.narrow #FilteringCategory label {
  margin: 8px;
}

#FilteringCategory select {
  margin: 10px 8px;
  width: 150px;
}

#FilteringCategory select:focus {
  background-color: #ffffa0;
}

#FilteringCategory input {
  padding: 2px 8px;
  width: 270px;
  border-radius: 5px;
  font-size: 14px;
}

#FilteringCategory input:focus {
  background-color: #ffffa0;
}

.narrow #FilteringCategory input {
  width: 100%;
}

.for_all #FilteringCategoryTopics {
  display: none;
}

#FilteringCategoryAlways {
  display: none;
}

.for_all #FilteringCategoryAlways {
  display: flex;
}

#FilteringCategoryAlways span {
  margin: 8px;
  padding: 5px 80px;
  width: 284px;
  border-radius: 8px;
  color: #4f4f4f;
  background-color: #c8c8c8;
  font-weight: bold;
}

.narrow #FilteringCategoryAlways span {
  padding: 5px 16px;
  width: 262px;
}

#FilteringBlocks {
  display: block;
}

.block {
  margin: 15px 0px;
  padding: 15px 20px 20px 20px;
  border-radius: 10px;
  background-color: #c8c8c8;
}

.narrow .block {
  padding: 20px 10px;
}

.target {
  width: 100%;
  flex-flow: column wrap;
}

.target > div {
  border-radius: 8px;
  align-items: center;
  justify-content: flex-start;
}

.target > div:last-child {
  min-width: 686px;
}

.narrow .target > div:last-child {
  min-width: 310px;
}

.compact .target > div:last-child {
  min-width: 450px;
}

.target > div:last-child.focused_in {
  color: #ffffff;
  background-color: #a9a9a9;
}

.compact .target > div:last-child {
  justify-content: flex-end;
}

.target .checked_option {
  margin: 0px 5px;
}

.target label {
  font-size: 14px;
}

.insertion {
  margin: 5px 0px;
}

.insertion hr {
  margin: 0px 10px;
  width: 576px;
  border: solid 1px #eeeeee;
  border-bottom: none;
}

.narrow .insertion hr {
  margin: 0px 10px;
  width: 200px;
}

.compact .insertion hr {
  margin: 0px 10px;
  width: 340px;
}

.insertion button {
  margin: 0px 8px;
  padding: 2px 0px;
  width: 72px;
  border-width: 2px;
  font-size: 14px;
}

.target_name {
  flex-flow: column wrap;
  width: 144px;
}

.target_name select {
  margin: 9px 10px;
  width: 120px;
  font-size: 14px;
}

.target_name select:focus {
  background-color: #ffffa0;
}

.narrow .target_name {
  width: 310px;
  align-items: center;
  flex-flow: row nowrap;
}

.target_words {
  width: 306px;
}

.target_words > input {
  margin: 8px;
  padding: 2px 8px;
  width: 270px;
  border-radius: 5px;
  font-size: 14px;
}

.target_words > input:focus {
  background-color: #ffffa0;
}

.end_of_block .target_words {
  display: none;
}

.operation {
  margin: 5px 7px;
  flex-flow: column wrap;
}

.narrow .operation {
  margin: 0px 7px;
  width: 296px;
  align-items: flex-end;
}

.compact .operation {
  margin: 0px 7px;
  width: 292px;
  align-items: flex-end;
}

.operation button {
  margin: 0px 1px;
  padding: 2px 0px;
  width: 72px;
  border-width: 2px;
  font-size: 14px;
}

.operation > div:first-child {
  margin-top: 1px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.end_of_block .operation > div:first-child {
  display: none;
}

.operation > div:first-child button {
  margin-top: 5px;
}

.operation > div:first-child input {
  margin-left: 1px;
}

.focused_out .localize {
  display: none;
}

.operation > div:last-child {
  margin: 5px 0px;
  height: 26px;
}

.focused_in .operation {
  margin-bottom: 5px;
}

.focused_in .operation > div:last-child {
  visibility: visible;
  display: block;
}

.focused_out .operation > div:last-child {
  visibility: hidden;
}

.narrow .focused_out .operation > div:last-child {
  display: none;
}

.compact .focused_out .operation > div:last-child {
  display: none;
}

.target_any {
  margin: 15px 0px;
  width: 306px;
  display: none;
}

.narrow .target_any {
  margin-top: 10px;
}

.target_any span {
  padding: 0px 15px;
  color: #4f4f4f;
  font-weight: bold;
}

.end_of_block .target_any {
  display: block;
}

#SelectionEdit {
  margin: 15px 0px;
  padding: 20px;
  border-radius: 10px;
  background-color: #c8c8c8;
  align-items: center;
  flex-flow: column nowrap;
  display: none;
}

.narrow #SelectionEdit {
  padding: 20px 10px;
}

.edit #SelectionEdit {
  display: flex;
}

#SelectionEdit > div {
  width: 380px;
}

.narrow #SelectionEdit > div {
  width: 290px;
}

.edit_header {
  margin: 10px 0px;
  justify-content: space-between;
  align-items: center;
}

.edit_header span {
  padding: 3px;
  font-weight: bold;
  font-size: 14px;
  color: #575757;
  border-bottom: solid 1px #a9a9a9;
  display: inline;
}

.edit_header img {
  padding: 3px;
  border-radius: 16px 16px;
  outline: none;
}

.edit_header img.pointed {
  background-color: #969696;
}

.edit_pane {
  flex-flow: column nowrap;
}

.edit_pane div:last-child {
  width: 100%;
  justify-content: flex-end;
}

.edit_pane div:last-child button {
  margin: 10px 0px;
  padding: 2px 8px;
  width: 75px;
  font-size: 14px;
  letter-spacing: 1px;
}

.edit_pane label {
  margin: 0px 2px;
  font-size: 16px;
}

#SettingName {
  margin: 10px 0px;
  flex-flow: column nowrap;
}

.narrow #SettingName {
  margin: 10px 0px 0px 0px;
}

#SettingName input {
  margin: 10px 0px;
  padding: 0px 8px;
  height: 26px;
  width: 270px;
  border-radius: 5px;
}

#SettingName input:focus {
  background-color: #ffffa0;
}

.regexp {
  margin: 5px 0px;
  width: 100%;
  flex-flow: column nowrap;
}

.regexp textarea {
  margin: 7px 0px;
  padding: 8px;
  height: 60px;
  width: 360px;
  border-radius: 5px;
  font-size: 14px;
  word-wrap: break-word;
  resize: none;
}

.narrow .regexp textarea {
  width: 270px;
}

.regexp textarea:focus {
  background-color: #ffffa0;
}

.regexp div {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.regexp button {
  margin: 0px;
  padding: 2px 8px;
  font-size: 14px;
}

.regexp .localize {
  visibility: hidden;
}

#OpenedUrl {
  margin-top: 10px;
  flex-flow: column nowrap;
}

#OpenedUrl select {
  margin: 10px 0px;
  padding: 0px 8px;
  height: 28px;
  min-width: 290px;
  max-width: 380px;
  border-radius: 5px;
  font-size: 14px;
  overflow: hidden;
}

.narrow #OpenedUrl select {
  max-width: 290px;
}

#OpenedUrl select:focus {
  background-color: #ffffa0;
}

#SelectionList {
  margin: 25px 0px;
  padding: 20px;
  border-radius: 10px;
  background-color: #c8c8c8;
}

.edit #SelectionList {
  display: none;
}

.narrow #SelectionList {
  padding: 20px 10px;
}

#SelectionList input.pointed {
  outline: 3px dotted #ff9900;
}

.page_header {
  margin: 10px 0px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.page_header div {
  margin: 0px 5px;
  align-items: center;
}

.page_header button {
  margin: 0px 10px;
  padding: 2px 0px;
  width: 90px;
  border-width: 2px;
  font-size: 14px;
}

.narrow .page_header button {
  margin-left: 8px;
}

.page_header ol {
  margin: 0px 20px;
  width: auto;
}

.narrow .page_header ol {
  margin: 0px 8px;
}

.compact .page_header ol {
  margin: 0px 8px;
}

.page_header li {
  padding: 5px;
  color: #737373;
}

.page_header li.selected {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  background-color: #a9a9a9;
  z-index: 1;
}

.page_header li.pointed {
  color: #ffcc33;
  z-index: 2;
}

.page_header li.hidden {
  display: none;
}

.selection_item {
  width: 100%;
  flex-flow: column wrap;
}

.selection_item > div {
  border-radius: 8px;
  align-items: center;
}

.selection_item > div:last-child {
  min-width: 686px;
  justify-content: space-between;
}

.narrow .selection_item > div:last-child {
  min-width: 310px;
}

.compact .selection_item > div:last-child {
  min-width: 450px;
}

.selection_item > div:last-child.focused_in {
  color: #ffffff;
  background-color: #549fe3;
}

.selection_data {
  margin: 0px 5px;
  width: 440px;
  align-items: center;
}

.narrow .selection_data {
  width: 100%;
}

.selection_data label {
  margin: 10px 8px;
  padding: 1px 0px;
  width: 348px;
  letter-spacing: 1px;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
}

.narrow .selection_data label {
  margin-right: 2px;
  width: 216px;
}

.favicon {
  position: relative;
  margin-left: 4px;
}

.narrow .favicon {
  margin-left: 2px;
}

.favicon > input {
  margin: 1px 5px;
  padding: 3px;
  width: 20px;
  height: 20px;
}

.favicon_list {
  position: absolute;
  top: -5px;
  width: 34px;
  border: solid 1px #ededed;
  border-radius: 5px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
  flex-flow: column nowrap;
  background-color: #eeeeee;
  visibility: hidden;
  z-index: 1;
}

.favicon_list div {
  position: relative;
  flex-basis: 34px;
  flex-flow: row nowrap;
}

.favicon_list input {
  margin: 5px;
  padding: 3px 2px;
  width: 20px;
  height: 20px;
  background-color: #eeeeee;
}

.favicon_list input.pointed {
  outline: 3px dotted #ff9900;
}

.favicon_list input.pointed + span {
  display: inline;
}

.favicon_list span:before {
  position: absolute;
  top: 10px;
  left: -14px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-right: 8px solid #ffffa0;
  content: "";
}

.favicon_list span {
  position: absolute;
  left: 45px;
  padding: 3px 8px;
  border-radius: 3px;
  font-size: 14px;
  color: #000000;
  background-color: #ffffa0;
  display: none;
}

.compact .selection_item .operation {
  width: 100%;
  justify-content: flex-end;
}

.narrow .selection_item .operation > div:first-child {
  margin: 0px;
}

.compact .selection_item .operation > div:first-child {
  margin: 0px;
}
